includes:
    - ./vendor/nunomaduro/larastan/extension.neon

parameters:
    level: max
    paths:
        - app
        - database
    ignoreErrors:
        - '#Some classes are not found#'
    scanDirectories:
        - app
